@mixin font-look($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

@mixin btn-hover($background, $border, $text-color) {
  background-color: $background;
  border: $border;
  color: $text-color;
}

@mixin size-xs {
  @media (max-width: 599px) { @content; }
}

@mixin size-sm {
  @media (min-width: 600px) { @content; }
}

@mixin size-md {
  @media (min-width: 900px) { @content; }
}

@mixin size-lg {
  @media (min-width: 1200px) { @content; }
}

@mixin size-xl {
  @media (min-width: 1800px) { @content; }
}
