@import 'variables';
@import 'mixins';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: $body-background-color;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  min-width: 320px;
  padding: 10px;
}

h1 {
  @include font-look(3em, 700);
  color: #EAEBEF;
  margin-top: 0;
  text-align: center;
}

.username {
  @include font-look(1em, 600);
}

canvas {
  width: 200px;
  height: 100px;
}

.welcome-section {
  margin-bottom: 10px;
  width: 100%;
}

.date {
  border-radius: 3px;
  float: right;
  margin: 5px;
  padding: 3px 5px;
  @include font-look(210%, 600);
}

.welcome-message {
  border-radius: 3px;
  margin: 15px 3px 10px 3px;
  padding: 3px 15px 3px 45px;
  text-align: left;
  font-size: 2.5em;
  color: #EAEBEF;
}

.italic-name {
  margin-left: 10px;
  font-style: italic;
}

.name-date-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: baseline;
  color: #EAEBEF;
}

.grid {
  display: grid;
  height: 120vh;
  width: 100vw;
  grid-template-areas:
  "column1 column2 column3"
  "column1 column2 column3"
  "column1 column2 column3";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-left: 15px;
}

.grid-column1 {
  grid-area: column1;
}

.grid-column2 {
  grid-area: column2;
}

.grid-column3 {
  grid-area: column3;
}

.data-section {
  background-color: $data-card-background-color;
  border-radius: 3px;
  margin: 5px 5px 20px 5px;
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  width: 93%;
    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
}

.data-heading {
  margin-top: 0;
  @include font-look(2.5em, 200);
  color: $header-font-color;
  letter-spacing: 1px;
}

.data-subsection {
  margin: 40px 0px;
  text-align: center;
}

.data-text {
  margin: 15px;
  @include font-look(1.7em, 600);
  color: $yellow-data-info ;
}

.subtext {
  @include font-look(2em, 700);
  margin: 25px 5px;
  color: $header-font-color;
}

.dates,
.friends-steps-number {
  font-size: 1.5em;
  font-weight: 600;
  color: $yellow-data-info;
}

.friends--steps {
  margin-bottom: 0;
}

.secondary-heading {
  font-size: 1.5em;
}

.number-of-steps-day {
  margin: 20px auto 50px auto;
  width: 200px;
  @include font-look(.8em, 200);
}

.avg-number-of-steps-goal,
.number-of-steps-goal {
  margin: 10px;
  @include font-look(1.2em, 600);
}

.friends--steps,
.streak-heading,
.user-average {
  @include font-look(1.7em, 600);
}

.streak-heading {
  margin-bottom: -30px;
}

.steps_ul,
.stairs_ul,
.friends_ul {
  margin: 0;
  padding-left: 0;
}

.user-average {
  margin: 0;
}

.activity-labels {
  @include font-look(1.2em, 400);
}

ul {
  list-style: none;
}

.date_li {
  @include font-look(.3em, 200);
}

img {
  width: 10%;
}

.img-medium {
  opacity: 0.6;
  width: 130px;
}

.separator {
  display: flex;
}

.user {
  width: 50%;
}

.border {
  border-right: 2px solid $header-font-color;
  height: 105px;
  margin-top: 5px;
}

.average {
  width: 50%;
}

p {
  @include font-look(3.5em, 200);
}

form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
}

.hydration-form {
  display: none;
  height: 200px;
}

.activity-form {
  display: none;
}

.post__btn--container {
  display: flex;
  height: 60px;
  justify-content: space-between;
}

.show__hydration--btn,
.show__activity--btn,
.show__sleep--btn {
  height: 100%;
    &:hover {
      @include btn-hover(#4C8BE4, 1px solid black, white)
    }
}

.activity__submit--btn,
.hydration__submit--btn,
.sleep__submit--btn {
    &:hover {
      @include btn-hover(#4C8BE4, 1px solid black, white)
    }
}

.input-container {
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: space-between;
  text-indent: 3px;
  text-align: left;
  width: 100%;
}

input {
  height: 30px;
  width: 90%;
    &:valid {
    border: 3px solid green;
    }
}

.highest-step-name {
  color: $yellow-data-info;
}

@media screen and (max-width: 870px) {
  .grid {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
  }

  .welcome-message {
    padding: 0;
  }

  .date {
    font-size: 2em;
  }

  .name-date-wrapper {
    flex-direction: column-reverse;
    padding: 0;
    margin: 0;
    align-items: center;
  }

  .data-section {
    width: 80%;
    
  }
}

@media screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 5px;
  }

  .welcome-section {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .name-date-wrapper {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  .date {
    width: 65%;
    height: 30px;
    font-size: 1em;
    color: #fff;
    margin-bottom: 0;
  }

  .welcome-message {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 2em;
  }

  .grid {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  }

  .data-section {
    margin-left: 0;
    padding: 10px;
    width: 98%;
  }

  .data-heading {
    font-size: 165%;
    margin-left: 0;
  }

  .img-medium {
    width: 22%;
  }

  .user-average,
  .hours-slept-day,
  .subtext {
    font-size: 1.3em;
  }

  .subtext {
    margin-bottom: 0;
    font-size: 160%;
  }

  .user-average {
    margin-bottom: 5px;
  }

  .number-of-steps-day {
    width: 170px;
    font-size: .6em;
  }

  .border {
    margin: 20px 5px 0 auto;
    height: 106px;
  }

  .activity-labels {
    font-size: 1.2em;
  }

  .separator {
    margin-bottom: 50px;
  }

  .number-of-steps-goal,
  .avg-number-of-steps-goal {
    font-size: 1em;
    margin-top: 13px;
  }

  .avg-number-of-steps-goal {
    margin-top: 10px;
  }

  .streak-heading {
    font-size: 1.1em;
    margin-left: 10px;
    margin-bottom: 0;
    font-weight: 600;
  }

  .increasing-steps,
  .increasing-stairs {
    margin: 0;
  }

  .steps_ul,
  .stairs_ul,
  .friends_ul {
    margin: 0px 0px 5px 10px;
    padding-left: 0;
  }

  .friends--steps {
    font-size: 1.1em;
    margin-bottom: 0;
    font-weight: 600;
  }

  .dates {
    font-size: 1.2em;
  }

  .friends-steps-number {
    font-size: 1.2em;
    margin-top: 8px;
    padding-top: 0;
  }

  .secondary-heading {
    font-size: 1.1em;
  }

  .data-text {
    @include font-look(1.3em, 600);
    color: $yellow-data-info;
  }
}

@media screen and (min-width: 2000px) {
  h1 {
    @include font-look(6em, 300);
  }

  .username {
    @include font-look(1em, 600);
  }

  .date {
    @include font-look(3em, 600);
  }

  .data-heading {
    @include font-look(6em, 200);
  }

  .data-text {
    @include font-look(3.5em, 300);
  }

  .subtext,
  .user-average {
    @include font-look(3em, 700);
  }

  .number-of-steps-day {
    @include font-look(1.2em, 200);
  }

  .streak-heading {
    @include font-look(3.5em, 700);
  }

  .date_li {
    @include font-look(.3em, 200);
  }

  p {
    @include font-look(3.5em, 200);
  }
}
