@import 'variables';
@import 'mixins';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: $body-background-color;
  font-family: 'Open Sans', sans-serif;
  @include margin(0px, 0px, 0px, 0px);
  min-width: 320px;
  @include padding(10px, 10px, 10px, 10px);
}

h1 {
  @include font-look(6em, 300);
  color: $header-font-color;
  letter-spacing: .9px
}

.username {
  @include font-look(1em, 600);
}

canvas {
  width: 200px;
  height: 100px;
}

.welcome-section {
  @include margin(0px, 0px, 10px, 0px);
  padding-right: 85px;
}

.date {
  background-color: $header-font-color;
  border-radius: 3px;
  float: right;
  @include margin(5px, 5px, 5px, 5px);
  @include padding(3px, 5px, 3px, 5px);
  color: $body-background-color;
  @include font-look(3em, 600);
}

.welcome-message {
  border-radius: 3px;
  @include margin(15px, 3px, 10px, 3px);
  @include padding(3px, 15px, 3px, 45px);
  text-align: left;
}

.grid {
  display: grid;
  height: 120vh;
  grid-template-areas:
  "column1 column2 column3"
  "column1 column2 column3"
  "column1 column2 column3";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  @include margin(0px, 0px, 0px, 15px);
}

.grid-column1 {
  grid-area: column1;
}

.grid-column2 {
  grid-area: column2;
}

.grid-column3 {
  grid-area: column3;
}

.data-section {
  background-color: $data-card-background-color;
  border-radius: 3px;
  @include margin(5px, 5px, 20px, 5px);
  @include padding(15px, 15px, 15px, 15px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  width: 93%;
    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
}

.data-heading {
  @include margin(5px, 0px, 15px, 10px);
  @include font-look(6em, 200);
  color: $header-font-color;
  letter-spacing: 1px;
}

.data-article {
  @include margin(40px, 0px, 40px, 0px);
  text-align: center;
}

.data-text {
  @include margin(15px, 15px, 15px, 15px);
  @include font-look(3.5em, 300);
}

.subtext {
  @include font-look(3em, 700);
  @include margin(25px, 5px, 25px, 5px);
  color: $header-font-color;
}

.number-of-steps-day {
  @include margin(20px, auto, 50px, auto);
  width: 280px;
  @include font-look(1.2em, 200);
}

.number-of-steps-goal {
  @include margin(10px, 10px, 10px, 10px);
}

.streak-heading {
  @include font-look(3.5em, 700);
}

.user-average {
  @include font-look(3em, 700);
}

ul {
  list-style: none;
}

.date_li {
  @include font-look(.3em, 200);
}

img {
  width: 10%;
}

.img-medium {
  opacity: 0.6;
  width: 180px;
}

.separator {
  display: flex;
}

.user {
  width: 50%;
}

.border {
  border-right: 2px solid $header-font-color;
  height: 100px;
  @include margin(15px, 0px, 0px, 0px);
}

.average {
  width: 50%;
}

p {
  @include font-look(3.5em, 200);
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
